h1{
    text-align: center;
    text-decoration: dotted;
    text-transform: capitalize;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 30px 200px 10px;
    margin: auto;
    background-image: url('https://images.unsplash.com/photo-1759936340143-aad257a14bf3?q=80&w=687&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    height: 500px;
    width: 500px;
    border: 2px solid red;
    border-radius: 20px;
    background-position: top;
    font-style: italic;
}
h2{
    color: red;
    background-color: rgb(230, 226, 222);
}
div{
    background-color: rgb(13, 158, 158);
    border-radius: 20px;
    margin: 50px 10px 30px 50px;
    text-align: justify;
    border-top: 20px dotted white;
    border-left: 20px solid tomato;
    border-right: 20px solid tomato;
    padding: 20px;
    width: 75%;
    height: 200px;
    text-decoration: underline;
    box-shadow: 10px 10px 10px 10px black;
    font-family: 'Courier New', Courier, monospace;

}
/* .second{
    display: none;
    /* visibility: hidden; */
    .easy{
        border: 1px solid blue;
        display: block;
        margin: 10px;
        padding: 20px;
    }