header{
    text-align: center;
}

footer{
    text-align: center;
    margin-top: 100%;
}
label{
    display: block;
    margin-bottom: 10px;
}
main{
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
}
#reset{
    padding: 5px 50px;
    background-color: red;
    border-radius: 5px;
    border: 5px solid black;
}
#submit{
    padding: 5px 50px;
    background-color: green;
    border-radius: 5px;
    border: 5px solid black;
}
textarea{
    background-color: rgb(243, 224, 224);
    border-radius: 10px;
    border: 10px dotted white;

}
fieldset{
    border-radius: 5px;
    border: 2px soid black;
    background-color: antiquewhite;
}
div{
    margin-top: 30%;
    margin-bottom: 20px;
    border: 5px dotted black;
    background-color: azure;
}
/* body{
    background-image: url("https://images.unsplash.com/photo-1766946429232-ee5ad7f266be?q=80&w=687&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
} */