table{
    border: 5px solid black;
    border-collapse: collapse;
    margin-left: 30%;
}
td, th{
    border: 2px solid black;
    padding: 10px 20px;
    text-align: center;    
}
nav > ul > li{
    display: inline;
    text-decoration: none;
}
li > a{
    text-decoration: none;
    margin: 50px;
    font-size: x-large;
}
nav{
    background-color: bisque;
    padding-bottom: 0.5px;
    padding-top: 0.5px;
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 30px;
}
.border{
    border: 2px solid black;
    padding: 4px;
    background-color: beige;
    border-radius: 20px;
    border-color: brown;
}
h1{
    text-align: center;
}
thead{
    background-color: rgb(216, 253, 253);
}