nav > ul > li{
    display: inline;
    text-decoration: none;
    margin-right: 50px;
    font-size: 20px;
    font-style: italic;
    
}
nav{
    background-color: aliceblue;
}
li> a{
    text-decoration: none;
}
footer{
    text-align: center;
    margin-top: 100px;
}
li > button{
    background-color: cadetblue;
    padding: 10px 10px;
    border-radius: 10px;
    text-align: left;
    margin-left: 2px;
}
figure{
    margin: 10px 100px;
    border: 5px solid black;
    box-shadow: 10px 5px 10px 10px black;

}
figcaption{
    text-align: center;
}
section{
    font-size: 20px;
}